.app-wrapper {
  display: grid;
  margin: 0auto;
  width: 1280px;


  grid-template-areas:
  'h h '
  'n c';

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;
  grid-gap:10px;

}
.header{
  grid-area:h;
  background-color: darkseagreen;
}
.header img {
  width: 100px;
}
.nav{
  grid-area:n;
  background-color: aqua;
}
.content{
  grid-area:c;
  background-color: blueviolet;
}